* {
    margin: 0;
    padding: 0;

    box-sizing:  border-box;   
}
:root {
    --default-font:  "Outfit", sans-serif;
    --classic-font: "Bebas Neue", sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: var(--classic-font);
}

.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.landing-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo, 
.menu-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.logo a, .menu-logo a {
    text-decoration: none;
    text-transform: uppercase;
     font-family: var(--classic-font);
     font-size: 60px;
     font-weight: lighter;
}
.logo a {
    color: #ffffff;
}
.menu-logo a {
    color: #fff;
}

.menu-toggle {
    position: fixed;
    top :2rem;
    right: 2rem;
    width: 120px;
    height: 60px;
    background-color: #e2e2e2;
    border-radius: 8em;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: right;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle.opened {
    width: 120px;
}
.menu-toggle.closed {
    width: 0;
}
.menu-copy {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #000;
    transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    opacity: 1;
}
.menu-copy p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.menu-toggle:hover .menu-copy {
    left: 20px;
}
.menu-toggle.closed .menu-copy {
    opacity: 0;
}

.menu-toggle-icon {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    clip-path: circle(10% at 50% 50%);
    background-color: rgb(0, 0, 0);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    overflow: hidden;
}
.menu-toggle:hover .menu-toggle-icon {
    clip-path: circle(35% at 50% 50%);
}
.menu-toggle.closed .menu-toggle-icon {
    clip-path: circle(35% at 50% 50%);
    transform: scale(1.125);
}

.hamburger {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
}
.menu-toggle:hover .hamburger {
    top: 50%;
    opacity: 1;
}

.menu-toggle.closed .hamburger {
    top: 50%;
    opacity: 1;
}
.menu-bar {
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: #ffffff;
    transition-property: transform;
    transition: all 250ms ease-out;
}
.menu-bar-top {
    transform: translateY(-3px);
}
.menu-bar-bottom {
    transform: translateY(3px);
}
.menu-toggle.closed .menu-bar-top {
    transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menu-toggle.closed .menu-bar-bottom {
    transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0f0f0f;
    transform-style: preserve-3d;
    perspective: 1000px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col {
    position: relative;
    height: 100%;
    padding: 10em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.link {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
}
.link a {
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 125%;
}
.video-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #1d1d1d;
    overflow: hidden;
    padding: 1.5em;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials {
    width: 50%;
    display: flex;
    gap: 2em;
}
.socials .sub-col {
    flex: 1;
}
.socials .sub-col p, .sub-col span {
    position: relative;
    color: #fff;
    transform: translateY(30px);
    opacity: 0;
    text-transform: uppercase;
    font-family: var(--default-font);
    font-size: 12px;
    font-weight: 400;
}
.social-media p{
    transform: all 0.3s ease;
    cursor: pointer;
    width: 30%;
}
.social-media p:hover {
    opacity: 0.6;
}

.header h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--classic-font);
    font-size: 400px;
    font-weight: lighter;
    line-height: 100%;
    height: 400px;
}
.header h1 span {
    position: relative;
    display: inline-block;
    transform: scale(0.75) translateY(500px) rotateY(90deg);
    transform-origin: bottom;
}

/* hero text section */
 .hero-text {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: rgba(240, 240, 240, 1);
    padding: 4rem 3rem; 
}

.hero-content h5 {
    letter-spacing: 8px;
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: #e2e2e2;
    font-family: var(--default-font);
}

.hero-content h1 {
    font-size: 5rem;
    line-height: 0.9em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: "Nunito", sans-serif;
}

.hero-content p {
    width: 50%;
    font-size: 0.9rem;
    line-height: 1.3;
    letter-spacing: 6px;
    margin-bottom: 1.1rem;
    color: #e2e2e2;
    text-transform: capitalize;
}
.child-land1,
.child-land2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.child-land1 {
    align-items: flex-start;
}
.child-land2 {
    align-items: flex-end;
}
.hero-btn {
    cursor: pointer;
    padding: 0.9rem 2.2rem;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.hero-btn h3 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(240, 240, 240, 1);
     position: relative;
   z-index: 2;
}
.hero-btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0, 255, 255, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.hero-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.hero-btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}


@media (max-width: 786px) {
    .col-1 {
        flex: 2;
        align-items: flex-start;
        padding: 6.5em 2em 2em 2em;
    }
    .col-2 {
        padding: 1.4em 2em 1em 2em;
    }
    .menu {
        flex-direction: column;
    }

    .link a {
        font-size: 30px;
    }
    .video-wrapper {
        padding: 0.8em; 
    }
    .socials {
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }
    .header h1 {
        font-size: 150px;
        height: 120px;
    }
}